<header class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index">Spend Smart</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/index">Dashboard</a></li>
                    <li class="active"><a href="/budget">Budget<span class="sr-only">(current)</span></a></li>
                    <li><a href="/expenses">Expenses</a></li>

                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.fullname}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/profile">Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" id="logout-link">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->

    </nav>

</header>

<div class="container main-padding main-min-height">
    <div class="row">
        <div class="col-md-2" role="complementary">
            <nav class="bs-docs-sidebar affix">
                <ul class="nav bs-docs-sidenav">
                    <li><a href="#addBudget" data-toggle="modal"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add/Update Budget</a></li>
                    <li><a href="/budget/{{previous}}" id="previous"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Previous Month</a></li>
                    <li><a href="/budget/{{next}}" id="next">Next Month <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
                </ul>
            </nav>
        </div>
        {{#if budget}}
        <input type="hidden" value='{{asJSON budget}}' id="budget">
        <div class="col-md-10" role="main">
            <div class="row">
                <div class="h1 col-md-10 text-center">Budget Breakup</div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each budget}}
                            <tr>
                                <td>{{category}}</td>
                                <td>${{amount}}</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <div id="chart_div">Please wait...</div>
                </div>
            </div>
        </div>
        {{else}}
        <div class="col-md-6 col-md-offset-1" role="main">
            <div class="jumbotron">
                <h1>Add a budget</h1>
                <p>Allocate some money to various categories.</p>
                <p>See how much you spend against each category.</p>
            </div>
        </div>
        {{/if}}
    </div>

</div>

<div id="addBudget" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="h4 modal-title text-center">Add a new Budget</div>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="budget-form" action="/budget" method="post" style="display: block;">
                    {{#if error }}
                    <div class="form-group">
                        <div class="alert alert-danger alert-dismissable">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> {{ error }}
                        </div>
                    </div>
                    {{/if}}
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="monthYear">Month:</label>
                        <div class="col-sm-4">
                            <div class="input-group date">
                                <input type="text" id="monthYear" name="monthYear" class="form-control" readonly required>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="category">Category:</label>
                        <div class="col-sm-4">
                            <select class="form-control" name="category" id="category">
                                 {{#each categories}} 
                                 <option value="{{this}}">{{this}}</option> 
                                 {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="amount">Amount:</label>
                        <div class="col-sm-4">
                            <input type="number" min="0" step="0.01" name="amount" id="amount" class="form-control" required>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="submit" id="submit" class="btn btn-success btn-submit" value="Add">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/public/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
<script src="/public/javascripts/budget.js"></script>